{% extends 'nav.html' %}

{% block content %}
<!--<h2 class="page-header">수업 스케줄 데이터베이스를 이용한 조회.등록.수정.삭제</h2> &lt;!&ndash;Ajax&ndash;&gt;-->

<!--내용 -->
<br>
<p>
    현재 페이지는 소프트웨어 개발실습 과목의 Djago와 파이썬을 활용한 웹페이지 예시입니다.<br>
    Django는 파이썬을 기반으로 한 웹 프레임워크로, 파이썬에 사용 가능한 모든 동작이 수행될 수 있습니다.<br>
    즉, 웹과 파이썬의 적절한 조합으로 최적화된 라이브러리를 사용할 수 있습니다.<br>
    <br>
    이번 결과물의 주제로, 데이터베이스를 연동하여 간단한 수업 스케줄에 관한 CRUD 예제를 작성/개발 하였습니다.<br>
    'CRUD'란 컴퓨터 소프트웨어가 가지는 기본적인 데이터 기능인<br>
    Create(생성), Read(읽기), Update(갱신), Delete(삭제) 로 'CRUD Schedules Web'으로 제목을 지었습니다. <br>
    데이터베이스 테이블을 models.py에 클래스로 작성하여 작업량을 줄일 수 있었습니다.<br>
    <br>
<div style="float:right; font-size:28.5px; margin-top:120px; text-align:left;">
    <table style="border:1px solid #444444;">
        <tr>
            <td>
                &nbsp;과목명 : 소프트웨어 개발 실습&nbsp;<br>
                &nbsp;교수님명 : 고광만&nbsp;<br>
                &nbsp;학번 : 201678004&nbsp;<br>
                &nbsp;이름 : 고재찬&nbsp;<Br>
            </td>
        </tr>
    </table>
</div>
    <div style="font-size:12.5px; padding-top: 5px;">
        <a style="font-size:17px; padding-top: 5px; font-weight:Bold;"> Ver.</a><br><br>
        <a style="font-size:15px;">HardWare &raquo;</a><br>
        MacBook Pro (13-inch, 2017, Four Thunderbolt 3 Ports)<br>
        Proccesor : 3.1 GHz 듀얼 코어 Intel Core i5<br>
        Memory : 8GB 2133 MHz LPDDR3<br>
        OS : macOS Big Sur V-11.3.1 _ 11.3.1<br><br>
        <a style="font-size:15px;">SoftWare &raquo; </a><br>
        파이썬 = 3.8<br>
        Django = 3.2.3<br>
        Mysql =  8.0.23 for osx10.16 on x86_64 <br><br>
    </div>
</div>
<a class="navbar-brand" style="color:black;" href="schedules"><button class="btn btn-primary">수업 스케줄 &raquo;</button></a>
<br>
<hr style="margin:10px 0px 1px 0px; width:100%;">
<div style="width:111.1%; margin-left : -72px; margin-top:12px;">
        <footer class="container-fluid" style="background-color: #000000;">
        <br>
        <div class='row'>
            <div class="col-sm-11" style="text-align: left">
                <p style="color: #ffffff">Copyright ⓒ 2021 소프트웨어개발실습. software development and Practice @ </p>
                <p style="color: #ffffff">상지대학교 융합기술공과대학 컴퓨터공학과 201678004 고재찬.  </p>
            </div>
        </div>
        </footer>
</div>
{% endblock %}
