{% extends 'base.html' %}
 
{% load static %}

{% block content %}
  <h1 class="page-header">수업 스케줄</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'schedule_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
       등록
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>Num</th>
        <th style="width:20%;">수업명</th>
        <th style="width:20%;">날짜</th>
        <th style="width:15%;">교수명</th>
        <th>학점</th>
        <th style="width:40%;">내용</th>
        <th>분류</th>
        <th style="width:10%;"></th>
      </tr>
    </thead>
    <tbody>
      {% include "includes/partial_schedule_list.html" %}
    </tbody>
  </table>
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}